@use "@/style/variables" as vars;

%block {
    display: flex;
    border: 1px solid rgba(vars.$black, 0.3);
    border-radius: 6px;
    gap: 10px;
    padding: 5px;
}

.layoutRows {
    @extend %block;
    flex-direction: column
}

.rowContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
}

.layoutColumns {
    @extend %block;
}

.columnContainer {
    display: flex;
    flex: 1;
    gap: 10px;
}

.widget {
    @extend %block;

    display: flex;
    flex: 1;
    background: vars.$white;
    color: vars.$muted-text;
}

.delete {
    color: rgba(vars.$red, 0.8);
    cursor: pointer;

    &:hover {
        color: vars.$red;
    }
}

.preview {
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    background: rgba(vars.$muted-text, 0.25);
    border-radius: 6px;
}

.previewingDelete {
    background: rgba(vars.$red, 0.25);
}

.row {
    > :nth-child(1) {
        border-radius: 6px 0 0 6px;
    }

    > :nth-child(2) {
        margin-left: -1px;
        border-radius: 0 6px 6px 0;
    }
}

.column {
    > :nth-child(1) {
        border-radius: 6px 6px 0 0;
    }

    > :nth-child(2) {
        margin-top: -1px;
        border-radius: 0 0 6px 6px;
    }
}