@use "@/style/variables" as vars;

%block {
    display: flex;
    flex: 1;
}

.layoutRows {
    @extend %block;
    flex-direction: column
}

.layoutColumns {
    @extend %block;
}

.widget {
    @extend %block;

    justify-content: center;
    align-items: center;
    border: 1px solid vars.$black;
    border-radius: 6px;
    margin: 10px;
    background: vars.$white;
    color: vars.$muted-text;
}