@use "@/style/variables" as vars;

.widget {
    display: flex;
    border: 1px solid vars.$black;
    border-radius: 6px;
    margin: 10px;
    background: vars.$white;
    padding: 2px 1px;
    overflow: hidden;

    > iframe {
        border-radius: 6px;
    }
}

.waiting {
    color: vars.$muted-text;
}

.logs {
    display: flex;
    border-left: 1px solid vars.$black;
    overflow-y: scroll;
    max-height: 88vh;
}

.typeOfLog {
    color: vars.$muted-text;
}
