@use "@/style/variables" as vars;

.widget {
    display: flex;
    border: 1px solid vars.$black;
    border-radius: 6px;
    margin: 10px;
    background: vars.$white;
    color: vars.$muted-text;
    padding: 2px 1px;
    overflow: hidden;

    > iframe {
        border-radius: 6px;
    }
}

.logs {
    display: flex;
}